@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Questrial&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
     background-color: rgba(var(--background))
}

/* default scrollbar  */
::-webkit-scrollbar {
   width: 1px; 
 }
 ::-webkit-scrollbar-thumb {
   background-color: rgb(200, 200, 238); 
   border-radius: 5px; 
   
   max-height: 40px; 
 }
 

 ::-webkit-scrollbar-track {
   background-color: rgb(60, 59, 59);
 }
 
 ::-webkit-scrollbar-corner {
   background-color: transparent; 
 }
 

 .light {
   --background: 240, 235, 227;
   --primary: 247, 239, 229;
   --secondary: 195, 172, 208;
   --accent-1: 119, 67, 219;
   --accent-2: 246, 255, 166;
   --accent-3: 63, 114, 175;
   --active: 79, 69, 87 ;
 }

 .dark {
   --background: 34, 40, 49;
   --primary: 49, 54, 63;
   --secondary: 238, 238, 238;
   --accent-1: 118, 171, 174;
   --accent-2: 221, 87, 70;
   --accent-3: 219, 226, 239;
   --active: 76, 0, 112;
}
